body.games {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    width: 100vw;
    position: absolute;
    height: 100vh;
    display: flex;
    background: #000;
}

.gamesL {
    background: #000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.gcard {
    width: 13em;
    height: 17em;
    background: #000;
    margin: 0 1em 3em 1em;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    outline: 1px solid white;
}

.gimg {
    height: 74%;
    width: 100%;
    background: #333;
    border-radius: 10px;
}

.gtext {
    color: #f28bff;
    margin-top: 0.7em;
}

.gtext:hover {
    color: #ee6fff;
    margin-top: 0.7em;
    cursor: pointer;
}

.gimg:hover {
    cursor: pointer;
}