body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 88.7vh;
    position: absolute;
    height: 82vh;
}

h1, h2, h3, h4, h5, h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: grid;
    align-items: center;
    background-color: #3d3d3d;
    color: white;
    font-weight: 600;
    justify-items: center;
}

.toolbar img {
    margin: 0 16px;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

svg.material-icons {
    height: 24px;
    width: auto;
}

svg.material-icons:not(:last-child) {
    margin-right: 8px;
}

.card svg.material-icons path {
    fill: #888;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card-container .card:not(:last-child) {
    margin-right: 0;
}

.card.card-small {
    height: 16px;
    width: 168px;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
}

.card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
}

.card.card.highlight-card span {
    margin-left: 60px;
}

a, a:visited, a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

.circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
}

footer a {
    display: flex;
    align-items: center;
}

/* Responsive Styles */

@media screen and (max-width: 767px) {
    .card-container>*:not(.circle-link), .terminal {
        width: 100%;
    }
    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
    }
    .card.highlight-card span {
        margin-left: 72px;
    }
    svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
    }
}

@media screen and (max-width: 575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }
}

pre {
    margin: 0;
    font-size: 14px;
}

span {
    display: inline-block;
    line-height: 20px;
}

span.highlight {
    background: #ed67ffd8;
}

span.begin {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

span.end {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

pre.merge-end>span:last-child {
    border-bottom-right-radius: 0;
}

pre.merge-end+pre>span:last-child {
    border-top-right-radius: 0;
}

pre.merge-begin>span:first-child {
    border-bottom-left-radius: 0;
}

pre.merge-begin+pre>span:first-child {
    border-top-left-radius: 0;
}

/* .libdrw {
    background: #3d4042;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 5rem;
  } */

.urlbar {
    color: #ffffff;
    background: #1a1a1a;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 2.4rem;
    width: 61.6rem;
    padding: 6px 8px;
    margin-bottom: 0;
}

::selection {
    background: #ed67ffd8;
    border-radius: 3px;
}

.urlbar:focus {
    outline: 1px;
}

.searchwrap {
    display: flex;
    align-items: center;
    width: 66rem;
    height: 3.7rem;
    margin-bottom: 0;
}

.icon-tabler-search {
    height: 22px;
    width: 22px;
    stroke: #ffffff;
}

.btnsrch {
    padding: 0;
    height: 50px;
    width: 54px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    background: #353535;
}

.btnsrch:hover {
    background: #ff3beae0;
}

.logo {
    position: absolute;
    left: 0;
}

.infoTitl {
    display: grid;
    align-items: center;
    justify-items: center;
}

p.info {
    width: 41rem;
    text-align: center;
    color: #ffffff;
}

h1.name {
    color: #f971e4;
    font-size: 4rem;
}

.links {
    color: #fa15d8cc;
    width: min-content;
    display: flex;
    margin-top: 1rem;
}

.link:hover {
    cursor: pointer;
}

.home {
    display: grid;
    justify-items: center;
}

.icon {
    height: 46px;
    margin-left: 0.2em;
}

.games:hover .icon {
    stroke: #fa15d8cc;
}

.bug:hover .icon {
    stroke: #f971e4;
    stroke-width: 1.5;
    fill: #000000;
}

.git {
	fill: #ffffff;
	height: 46px;
	width: 32px;
}