@media (max-width: 1366px) {
    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #ffffff;
        background: #222222;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overflow: hidden;
      }
      
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 8px 0;
      }
      
      p {
        margin: 0;
      }
      
      .spacer {
        flex: 1;
      }
      
      .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: grid;
        align-items: center;
        background-color: #3d3d3d;
        color: white;
        font-weight: 600;
        justify-items: center;
      }
      
      .toolbar img {
        /*! margin: 0 16px; */
      }
      
      .content {
        display: flex;
        margin: 82px auto 32px;
        padding: 0 16px;
        max-width: 960px;
        flex-direction: column;
        align-items: center;
      }
      
      svg.material-icons {
        height: 24px;
        width: auto;
      }
      
      svg.material-icons:not(:last-child) {
        margin-right: 8px;
      }
      
      .card svg.material-icons path {
        fill: #888;
      }
      
      .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
      }
      
      .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        height: 40px;
        width: 200px;
        margin: 0 8px 16px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
      }
      
      .card-container .card:not(:last-child) {
        margin-right: 0;
      }
      
      .card.card-small {
        height: 16px;
        width: 168px;
      }
      
      .card-container .card:not(.highlight-card) {
        cursor: pointer;
      }
      
      .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
      }
      
      .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
      }
      
      .card.highlight-card {
        background-color: #1976d2;
        color: white;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
      }
      
      .card.card.highlight-card span {
        margin-left: 60px;
      }
      
      a,
      a:visited,
      a:hover {
        color: #1976d2;
        text-decoration: none;
      }
      
      a:hover {
        color: #125699;
      }
      
      .circle-link:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
      }
      
      footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
      }
      
      footer a {
        display: flex;
        align-items: center;
      }
      
      /* Responsive Styles */
      @media screen and (max-width: 767px) {
        .card-container > *:not(.circle-link) ,
        .terminal {
          width: 100%;
        }
      
        .card:not(.highlight-card) {
          height: 16px;
          margin: 8px 0;
        }
      
        .card.highlight-card span {
          margin-left: 72px;
        }
      
        svg#rocket-smoke {
          right: 120px;
          transform: rotate(-5deg);
        }
      }
      
      @media screen and (max-width: 575px) {
        svg#rocket-smoke {
          display: none;
          visibility: hidden;
        }
      }
      
      
      
      pre {
          margin: 0;
          font-size: 14px;
      }
      
      span {
          display: inline-block;
          line-height: 20px;
      }
      
      span.highlight {
          background: #ed67ffd8;
      }
      
      span.begin {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
      }
      
      span.end {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
      }
      
      pre.merge-end > span:last-child {
          border-bottom-right-radius: 0;
      }
      
      pre.merge-end + pre > span:last-child {
          border-top-right-radius: 0;
      }
      
      pre.merge-begin > span:first-child {
          border-bottom-left-radius: 0;
      }
      
      pre.merge-begin + pre > span:first-child {
          border-top-left-radius: 0;
      }
      
      /* .libdrw {
        background: #3d4042;
        color: #ffffff;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 5rem;
      } */
      
      .urlbar {
        color: #ffffff;
        background: #1a1a1a;
        border: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        height: 2.4rem;
        width: 61.6rem;
        padding: 6px 8px;
        margin-bottom: 0;
      }
      
      ::selection {
        background: #ed67ffd8;
        border-radius: 3px;
      }
      
      .urlbar:focus {
        outline: 1px;
      }
      
      .searchwrap {
        display: flex;
        align-items: center;
        width: 66rem;
        height: 3.7rem;
        margin-bottom: 0;
      }
      
      .icon-tabler-search {
        height: 22px;
        width: 22px;
        stroke: #ffffff;
      }
      
      .btnsrch {
        padding: 0;
        height: 50px;
        width: 54px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border: none;
        background: #353535;
      }
      
      .btnsrch:hover{
        background: #ff3beae0;
      }
      
      .logo {
        /*! position: absolute; */
        /*! left: 0; */
      }
      
      .lg {
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        float: left;
        position: absolute;
        left: 16px;
      }
      
      .lg:hover {
        cursor: pointer;
      }
      
      .frame {
        border: none;
        outline: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 3.8rem;
        width: 100vw;
        height: 100vh;
      }
      
      .infoTitl {
        display: grid;
        align-items: center;
        justify-items: center;
      }
      
      p.info {
        width: 41rem;
        text-align: center;
      }
      
      h1.name {
        color: #f971e4;
        font-size: 4rem;
      }
      
}

@media (max-width: 1280px) {
    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #ffffff;
        background: #222222;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overflow: hidden;
      }
      
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 8px 0;
      }
      
      p {
        margin: 0;
      }
      
      .spacer {
        flex: 1;
      }
      
      .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: grid;
        align-items: center;
        background-color: #3d3d3d;
        color: white;
        font-weight: 600;
        justify-items: center;
      }
      
      .toolbar img {
        /*! margin: 0 16px; */
      }
      
      .content {
        display: flex;
        margin: 82px auto 32px;
        padding: 0 16px;
        max-width: 960px;
        flex-direction: column;
        align-items: center;
      }
      
      svg.material-icons {
        height: 24px;
        width: auto;
      }
      
      svg.material-icons:not(:last-child) {
        margin-right: 8px;
      }
      
      .card svg.material-icons path {
        fill: #888;
      }
      
      .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
      }
      
      .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        height: 40px;
        width: 200px;
        margin: 0 8px 16px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
      }
      
      .card-container .card:not(:last-child) {
        margin-right: 0;
      }
      
      .card.card-small {
        height: 16px;
        width: 168px;
      }
      
      .card-container .card:not(.highlight-card) {
        cursor: pointer;
      }
      
      .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
      }
      
      .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
      }
      
      .card.highlight-card {
        background-color: #1976d2;
        color: white;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
      }
      
      .card.card.highlight-card span {
        margin-left: 60px;
      }
      
      a,
      a:visited,
      a:hover {
        color: #1976d2;
        text-decoration: none;
      }
      
      a:hover {
        color: #125699;
      }
      
      .circle-link:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
      }
      
      footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
      }
      
      footer a {
        display: flex;
        align-items: center;
      }
      
      /* Responsive Styles */
      @media screen and (max-width: 767px) {
        .card-container > *:not(.circle-link) ,
        .terminal {
          width: 100%;
        }
      
        .card:not(.highlight-card) {
          height: 16px;
          margin: 8px 0;
        }
      
        .card.highlight-card span {
          margin-left: 72px;
        }
      
        svg#rocket-smoke {
          right: 120px;
          transform: rotate(-5deg);
        }
      }
      
      @media screen and (max-width: 575px) {
        svg#rocket-smoke {
          display: none;
          visibility: hidden;
        }
      }
      
      
      
      pre {
          margin: 0;
          font-size: 14px;
      }
      
      span {
          display: inline-block;
          line-height: 20px;
      }
      
      span.highlight {
          background: #ed67ffd8;
      }
      
      span.begin {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
      }
      
      span.end {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
      }
      
      pre.merge-end > span:last-child {
          border-bottom-right-radius: 0;
      }
      
      pre.merge-end + pre > span:last-child {
          border-top-right-radius: 0;
      }
      
      pre.merge-begin > span:first-child {
          border-bottom-left-radius: 0;
      }
      
      pre.merge-begin + pre > span:first-child {
          border-top-left-radius: 0;
      }
      
      /* .libdrw {
        background: #3d4042;
        color: #ffffff;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 5rem;
      } */
      
      .urlbar {
        color: #ffffff;
        background: #1a1a1a;
        border: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        height: 2.4rem;
        width: 61.6rem;
        padding: 6px 8px;
        margin-bottom: 0;
      }
      
      ::selection {
        background: #ed67ffd8;
        border-radius: 3px;
      }
      
      .urlbar:focus {
        outline: 1px;
      }
      
      .searchwrap {
        display: flex;
        align-items: center;
        width: 66rem;
        height: 3.7rem;
        margin-bottom: 0;
      }
      
      .icon-tabler-search {
        height: 22px;
        width: 22px;
        stroke: #ffffff;
      }
      
      .btnsrch {
        padding: 0;
        height: 50px;
        width: 54px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border: none;
        background: #353535;
      }
      
      .btnsrch:hover{
        background: #ff3beae0;
      }
      
      .logo {
        /*! position: absolute; */
        /*! left: 0; */
      }
      
      .lg {
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        float: left;
        position: absolute;
        left: 16px;
      }
      
      .lg:hover {
        cursor: pointer;
      }
      
      .frame {
        border: none;
        outline: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 3.8rem;
        width: 100vw;
        height: 100vh;
      }
      
      .infoTitl {
        display: grid;
        align-items: center;
        justify-items: center;
      }
      
      p.info {
        width: 41rem;
        text-align: center;
      }
      
      h1.name {
        color: #f971e4;
        font-size: 4rem;
      }
      
}

@media (max-width: 1124px) {
    .searchwrap {
        width: 58.4rem;
    }

    .urlbar {
        width: 54rem;
    }
}

@media (max-width: 873.6px) {
    .searchwrap {
        width: 59rem;
    }

    .urlbar {
        width: 54.6rem;
    }
}

@media (max-width: 1190px) {
  .searchwrap {
    width: 62rem;
  }

  .urlbar {
    width: 56rem;
  }
}

@media (max-width: 1155px) {
  .searchwrap {
    width: 61rem;
  }
  
  .urlbar {
    width: 55rem;
  }
}

@media (max-width: 1051px) {
  .searchwrap {
    width: 54rem;
  }

  .urlbar {
    width: 49rem;
  }
}

@media (max-width: 989px) {
  .searchwrap {
    width: 49rem;
  }

  .urlbar {
    width: 44rem;
  }
}

@media (max-width: 913px) {
  .searchwrap {
    width: 44rem;
  }

  .urlbar {
    width: 39rem;
  }
}

@media (max-width: 778px) {
  .searchwrap {
    width: 36rem;
  }

  .urlbar {
    width: 31rem;
  }
}

@media (max-width: 706px) {
  .searchwrap {
    width: 32rem;
  }

  .urlbar {
    width: 27rem;
  }
}

@media (max-width: 607px) {
  .searchwrap {
    width: 24rem;
  }

  .urlbar {
    width: 19rem;
  }
}

@media (max-width: 532px) {
  .searchwrap {
    width: 20rem;
  }

  .urlbar {
    width: 15rem;
  }
}

@media (max-width: 454px) {
  .searchwrap {
    width: 15rem;
  }

  .urlbar {
    width: 10rem;
  }
}

@media (max-width: 1095px) {
  .searchwrap {
    width: 54rem;
  }

  .urlbar {
    width: 49rem;
  }
}

@media (max-width: 992px) {
  .searchwrap {
    width: 48rem;
  }

  .urlbar {
    width: 43rem;
  }
}

@media (max-width: 898px) {
  .searchwrap {
    width: 42rem;
  }

  .urlbar {
    width: 37rem;
  }
}

@media (max-width: 789px) {
  .searchwrap {
    width: 37rem;
  }

  .urlbar {
    width: 31rem;
  }
}

@media (max-width: 702px) {
  .searchwrap {
    width: 30rem;
  }

  .urlbar {
    width: 25rem;
  }
}

@media (max-width: 617px) {
  .searchwrap {
    width: 25rem;
  }

  .urlbar {
    width: 20rem;
  }
}

@media (max-width: 535px) {
  .searchwrap {
    width: 20rem;
  }

  .urlbar {
    width: 15rem;
  }
}