* {
    user-select: none;
}

@font-face {
    font-family: Metro;
    src: url(../resources/metropolis-regular.otf);
}

@font-face {
    font-family: MetroXBold;
    src: url(../resources/metropolis-extra-bold.otf);
}

@font-face {
    font-family: poppins;
    src: url(../resources/Poppins-Regular.ttf)
}

@font-face {
    font-family: Ubuntu;
    src: url(../resources/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Whit;
    src: url(../resources/Whitney-nGIF.ttf);
}

@font-face {
    font-family: Fracital;
    src: url(../resources/Fracital.ttf);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0%;
        transform: translateY(0.3em);
    }

    100% {
        opacity: 100%;
        transform: translateY(0em);
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    margin: 0;
    padding: 0;
    width: 100vw;
    position: absolute;
    height: 100vh;
    background: #222;
    margin-left: auto;
    margin-right: auto;
    display: inline-block
}

canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0
}

p {
    margin: 0
}

.spacer {
    flex: 1
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: grid;
    align-items: center;
    background-color: #3d3d3d;
    color: #fff;
    font-weight: 600;
    justify-items: center
}

.home>.enginesearchc {
    width: 80%;
    z-index: 69
}

.enginesearchc {
    box-shadow: 0 0 9px #111;
    border-radius: 22px;
    overflow: hidden;
    height: 2em;
    margin-top: 22px;
    padding: 0 12px
}

.es {
    background: 0 0;
    border: none;
    width: 100%;
    height: 100%;
    font-family: poppins, sans-serif;
    font-size: 18px
}

.es:focus-visible {
    border: none;
    outline: none
}

.toolbar img {
    margin: 0 16px
}

.content {
    display: grid;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center
}

svg.material-icons {
    height: 24px;
    width: auto
}

svg.material-icons:not(:last-child) {
    margin-right: 8px
}

.card svg.material-icons path {
    fill: #888
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px
}

.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    line-height: 24px
}

.card-container .card:not(:last-child) {
    margin-right: 0
}

.card.card-small {
    height: 16px;
    width: 168px
}

.card-container .card:not(.highlight-card) {
    cursor: pointer
}

.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, .35)
}

.card-container .card:not(.highlight-card):hover .material-icons path {
    fill: #696767
}

.card.highlight-card {
    background-color: #1976d2;
    color: #fff;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative
}

.card.card.highlight-card span {
    margin-left: 60px
}

a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none
}

a:hover {
    color: #125699
}

.circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 3px 15px rgba(0, 0, 0, .2)
}

footer {
    display: flex;
    align-items: center;
    line-height: 20px
}

footer a {
    display: flex;
    align-items: center
}

@media screen and (max-width:767px) {

    .card-container>*:not(.circle-link),
    .terminal {
        width: 100%
    }

    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0
    }

    .card.highlight-card span {
        margin-left: 72px
    }

    svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg)
    }
}

@media screen and (max-width:575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden
    }
}

pre {
    margin: 0;
    font-size: 14px
}

span {
    display: inline-block;
    line-height: 20px
}

span.highlight {
    background: #ed67ffd8
}

span.begin {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

span.end {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

pre.merge-end>span:last-child {
    border-bottom-right-radius: 0
}

pre.merge-end+pre>span:last-child {
    border-top-right-radius: 0
}

pre.merge-begin>span:first-child {
    border-bottom-left-radius: 0
}

pre.merge-begin+pre>span:first-child {
    border-top-left-radius: 0
}

::selection {
    background: #ed67ffd8;
    border-radius: 3px
}

.icon-tabler-search {
    height: 22px;
    width: 22px;
    stroke: #fff
}

.contentinfo {
    display: grid;
    color: none;
    justify-items: center;
    align-items: center;
    background: #222;
    box-shadow: 1px 1px 15px 15px #1f1f1f;
    z-index: 55;
    width: 22em;
    margin-top: -15px;
    border-radius: 10px;
    padding-bottom: 15px;
}

.infoTitl {
    display: grid;
    align-items: center;
    justify-items: center;
    z-index: 1;
}

p.info {
    width: 100%;
    color: #fff
}

h1.name {
    color: #f971e4;
    font-size: 4rem;
    animation: fadeInAnimation ease .9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-bottom: 11px;
}

.links {
    color: #fa15d8cc;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
    margin-bottom: 5px;
}

.link:hover {
    cursor: pointer;
    color: #f971e4;
}

.home {
    display: grid;
    justify-items: center;
    width: 100%;
    align-items: center;
    margin-bottom: 4em
}

.icon {
    height: 46px;
    z-index: 99
}

.games:hover .icon {
    stroke: #ff59e6cc;
    stroke-width: 1.3px
}

.bug:hover .icon {
    stroke: #f971e4;
    stroke-width: 1.5;
    fill: #f971e4
}

.git {
    fill: #fff;
    height: 46px;
    width: 32px
}

body>p.info {
    width: 100%
}

.infoBd {
    width: 100%;
    text-align: center;
    color: #fff;
    min-width: 46%
}

.com {
    align-items: center;
    /*! margin-top: 3px !important; */
    width: 92px !important
}

.disc {
    fill: #fff;
    width: 37px;
    height: 44px
}

.com:hover .icon {
    fill: #ff59e6cc
}

.link {
    display: grid;
    justify-items: center;
    width: 70px;
    font-weight: 500
}

.focusLetter {
    font-family: Fracital;
    color: #fa15d8cc;
    transition: .3s;
    font-size: 63px;
    cursor: default;
    overflow: hidden;
    padding-bottom: 1px;
}

.focusLetter:hover {
    color: #fa15d8cc;
    font-size: 69px;
}

footer {
    color: #fff
}

.patlink {
    color: #ffffff;
    font-weight: normal;
    margin: 4px 0;
}

.patlinkc {
    text-decoration: underline;
    color: #f084ff;
    margin-left: 5px
}

.patlinkc:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff
}

.space {
    height: 2px;
}