* {
  user-select: none;
}
@font-face {
    font-family: poppins;
    src: url(../resources/Poppins-Regular.ttf)
}

@keyframes fadeInAnimation {
    0% {
        transform: translateY(2em)
    }

    100% {
        transform: translateY(0em)
    }
}

@keyframes linksOpacShitty {
  0% {
    opacity: 0%;
    transform: translateY(2em);
  }
  100% {
      opacity: 100%;
    transform: translateY(0em);
  }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    margin: 0;
    padding: 0;
    width: 100vw;
    position: absolute;
    height: 100vh;
    background: #222;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    overflow: hidden;
}

canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.content {
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    display: grid;
}

h1.name {
    color: #f971e4;
    font-size: 4rem;
    animation: fadeInAnimation ease .9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    justify-content: center;
    align-content: center;
    display: grid;
    text-align: center;
}

.home {
    display: grid;
    justify-items: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body > p.info {
    width: 100%
}

.focusLetter {
    color: #fa15d8cc;
    transition: .3s;
    font-size: 64px;
    cursor: default;
    overflow: hidden;
    padding-bottom: 1px
}

.focusLetter:hover {
    color: #fa15d8cc;
    font-size: 69px
}

.focusLetterS {
    color: #ff85edcc;
    transition: .3s;
    font-size: 64px;
    cursor: default;
    overflow: hidden;
    padding-bottom: 1px;
}

.focusLetterS:hover {
    color: #fd72e8cc;
    font-size: 69px
}

.linkstit {
    width: max-content;
    white-space: none;
}

.links {
    transition: ease 0.5s;
    width: 21em;
    color: #ffa8fa;
    font-family: Poppins;
    font-size: 17px;
    z-index: 2;
    animation: linksOpacShitty ease 0.9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-align: center;
    display: grid;
    height: 27em;
    display: grid;
    justify-content: center;
    align-content: center;
}

.links li:hover {
    font-size: 18px;
    cursor: pointer;
    color: #ff6bf8;
}

span {
    display: grid;
    visibility: collapse;
    height: 2px;
    width: 2em;
}

.links li:hover span {
    visibility: visible;
    background: white;
    width: 100%;
}

ul {
    margin: 0;
    padding: 20px;
    background-color: #292929;
    border-radius: 20px;
    width: 16em;
    transition: ease 0.4s;
}

ul:hover {
    margin: 0;
    background-color: #383838;
    padding: 40px;
    border-radius: 20px;
}

ul li {
    list-style: none;
    width: min-content;
    text-align: center;
}

li {
    display: grid;
    justify-items: center;
}

span {
    transition: ease-in-out 0.4s;
}