* {
    user-select: none;
}

button:focus-visible {
    border: 2px solid #f28bff;
    outline: none;
}

@font-face {
    font-family: segoeB;
    src: url(../resources/Segoe-UI-Bold.woff)
}

@font-face {
    font-family: segeo;
    src: url(../resources/Segoe-UI.ttf)
}

#particles-js {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

body {
    background: #222;
    height: 100%;
    margin: 0;
    width: 100vw;
    font-family: segoe ui;
    overflow: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    z-index: 2;
    padding: 0;
}

* {
    margin: 0
}

.settings {
    color: #f971e4;
    display: grid;
    justify-content: center;
    width: max-content;
    position: relative;
    z-index: 2;
}

.settingsT {
    font-family: segoeB;
    margin: 0;
    text-align: center
}

.titles {
    text-align: center;
    border-bottom: 2px solid #373737;
    width: 100%
}

::placeholder {
    color: #fff
}

input {
    background: #333;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 6px;
    color: #f5a9ff
}

select {
    background: #333;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 6px;
    cursor: pointer
}

select:hover {
    background: #3f3f3f
}

option {
    color: #f28bff
}

.subsir {
    color: #fff;
    background: #333;
    border: none;
    border-radius: 5px;
    padding: 7px 8px
}

.subsir:hover {
    background: #3f3f3f;
    cursor: pointer
}

.siteC {
    margin-right: 4px;
}

.faviC {
    width: 14em
}

.reformT {
    display: grid;
    margin-top: 5px
}

.themeCSS {
    background: #333;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 6px;
    color: #f5a9ff;
    resize: none;
    width: 100%;
    height: 21em
}

.custom {
    height: 5em;
    width: max-content;
    margin-bottom: 6px;
}

.subthr {
    color: #fff;
    float: right;
    margin-top: 4px
}

.subsirc {
    background: #333;
    color: #fff;
    width: min-content;
    float: left;
    margin-top: 3px
}

.subsirc:hover {
    background: #3f3f3f;
    cursor: pointer
}

.subsirci {
    color: #fff;
    width: min-content;
    float: right;
    margin-top: 3px
}

.subsirci:hover {
    background: #3f3f3f;
    cursor: pointer
}

.themes {
    margin-top: 31px
}

.parts {
    display: flex;
    height: max-content;
    width: max-content;
}

.partsinp {
    margin-right: 4px;
}

.f {
    margin-right: 4px;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}