* {
    user-select: none;
}

@font-face {
    font-family: Metro;
    src: url(../resources/metropolis-regular.otf);
  }

@font-face {
    font-family: Poppins;
    src: url(../resources/Poppins-Regular.ttf);
}

#particles-js {
    position: absolute;
    height: 99%;
    width: 100%;
}

html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0;
    background-color: #1a1a1a;
    color: #ffffffb3;
    word-break: break-word;
    overflow-x: hidden;
}

*, :after, :before {
    box-sizing: inherit
}

article, aside, details, figcaption, figure, header, main, menu, nav, section {
    display: block
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

body, html {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    height: 100%;
    margin: 0;
    width: 100%;
    padding: 0;
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.w3-wide {
    letter-spacing: 4px
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

img {
    vertical-align: middle
}

a {
    color: inherit
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

code, pre {
    font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace
}

.warning {
    padding: 20px;
    border-radius: 10px;
    background-color: #dd2263;
    color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .5);
    margin: 20px 0
}

.games {
    display: flex;
    flex-wrap: wrap;
    padding: 0 18px;
    justify-content: center;
    height: min-content;
    align-items: center;
}

.gamesL {
    display: flex;
    flex-wrap: wrap;
    padding: 0 18px;
    margin-top: 2em;
    justify-content: center;
}

.game {
    display: grid;
    justify-items: center;
    width: 14em;
    height: min-content;
    background-color: #333333;
    padding: 0;
    margin: 0;
    align-content: center;
    background-size: 14em;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    user-select: none;
    align-items: center;
    z-index: 2;
}

.game:hover .thumbnail {
    opacity: 50%;
}

.thumbnail {
    height: 14em;
    width: 14em;
    transition: ease 0.4s;
}

.title {
    background: #ff7ffd;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    transition: opacity .2s;
    margin: 0;
    width: 100%;
    height: max-content;
    position: relative;
    text-decoration: none;
    font-family: Poppins;
    padding: 3px 19px;
    font-size: 18px;
}

.title.small {
    font-size: 16.5px;
    height: 2em;
}

.gamesTitle {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 6px 0 12px 0;
    z-index: 99;
}

.searchCONT {
    display: flex;
    height: 100%;
    justify-content: center;
    z-index: 93;
}

.gamesSEARCH {
    background: #3a3a3a;
    border: none;
    outline: none;
    height: 100%;
    width: 24em;
    color: white;
    padding-left: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-family: Poppins;
    text-align: center;
    margin-left: -8px;
}

.help {
    height: 39px;
    width: 31px;
    margin-left: -39px;
    margin-top: 2px;
    stroke-width: 2px;
}

.help:hover {
    cursor: pointer;
}

::selection {
    background: #f829ff;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #f829ff;
    /* Gecko Browsers */
}

.hardhide {
    display: none;
}

.hardshow {
    display: flex;
}

.showRES {
    display: flex;
    flex-wrap: wrap;
    padding: 0 18px;
    justify-content: center;
    align-items: center;
}


.hide {
    display: none;
}

.gresr {
    margin-right: 4px;
}

.ultab {
    display: flex;
    list-style: none;
}

.tabli {
    height: 100%;
}

.tab {
    background-color: #333;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: max-content;
    overflow: hidden;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-align: center;
    color: #ffffff;
    font-family: Poppins;
    height: 100%;
}

.tab button:hover {
    color: #fff;
    text-align: center;
    transition: 0.3s;
    height: 52px;
    background: #3e3e3e;
}

.tab button.active {
    color: #fff;
    background-color: #f778fb;
    text-align: center;
    text-rendering: optimizelegibility;
    border: none;
}

.tab button.active:hover {
    color: #fff;
    background-color: #f829ff;
    text-align: center;
    text-rendering: optimizelegibility;
    transition: 0.3s;
    border: none;
}

.tabar {
    height: 3em;
    position: fixed;
    top: 0;
    left: 50%;
    right: 50%;
    display: flex;
    justify-content: center;
    z-index: 30;
}

.spacerG {
    height: 5em;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    text-align: center;
}

.content {
    text-align: center;
}

.tabcon {
    display: flex;
    justify-content: center;
    height: 52px;
}