/* Fonts */

@font-face {
    font-family: poppins;
    src: url(../resources/Poppins-Regular.ttf)
}

@font-face {
    font-family: segoeB;
    src: url(../resources/Segoe-UI-Bold.woff)
}

@font-face {
    font-family: segeo;
    src: url(../resources/Segoe-UI.ttf)
}

/* Fonts end*/

/* Classic theme */

/* Basics */

html {
    scroll-behavior: smooth
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: segoeB;
    font-size: 14px;
    color: #fff;
    background: #97fd97;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    overflow-x: hidden;
    display: grid;
    justify-items: center;
}

/* settings start */
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.settings {
    color: #f971e4;
    font-size: 16px;
    font-family: segoeB;
    font-weight: bold;
    display: grid;
    width: min-content;
    justify-items: center;
    height: min-content;
    margin-top: 0px;
}

.settingsT {
    font-family: segoeB;
    margin: 0;
    text-align: center;
}

.titles {
    text-align: center;
    border-bottom: 2px solid #373737;
    width: 100%;
    margin: 0;
}

::placeholder {
    color: white;
}

header {
    height: 2em;
    width: min-content;
}

input {
    background: #638e63;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 6px 6px;
    color: white;
}

select {
    background: #638e63;
    outline: none;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 6px 6px;
    cursor: pointer;
}

select:hover {
    background: #406240;
}

option {
    color: #f28bff;
}

.subsir {
    background: #638e63;
    color: white;
}

.subsir:hover {
    background: #68a468;
    cursor: pointer;
}

.siteC {
    margin-right: 2px;
}

.faviC {
    width: 14em;
}

/* themes */
.reformT {
    display: grid;
    margin-top: 5px;
}

.themeCSS {
    background: #333333;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 6px 6px;
    color: #f5a9ff;
    resize: none;
    width: 100%;
    height: 21em;
}

.customT {
    display: grid;
}

.custom {
    /*! display: flex; */
}

.subthr {
    color: white;
    float: right;
    margin-top: 4px;
}

.subsirc {
    color: white;
    width: min-content;
    float: left;
    margin-top: 3px;
}

.subsirc:hover {
    background: #6daa6d;
    cursor: pointer;
}

.subsirci {
    color: white;
    width: min-content;
    float: right;
    margin-top: 3px;
}

.subsirci:hover {
    background: #68a468;
    cursor: pointer;
}

.themes {
    margin-top: 31px;
}