@font-face {
    font-family: poppins;
    src: url(../resources/Poppins-Regular.ttf)
}

@keyframes fadeInAnimation {
    0% {
        transform: translateY(2em)
    }

    100% {
        transform: translateY(0em)
    }
}

@keyframes linksOpacShitty {
  0% {
    opacity: 0%;
    transform: translateY(2em);
  }
  100% {
      opacity: 100%;
    transform: translateY(0em);
  }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    margin: 0;
    padding: 0;
    width: 100vw;
    position: absolute;
    height: 100vh;
    background: #222;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    overflow: hidden;
}

canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.content {
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    display: grid;
}

h1.name {
    color: #f971e4;
    font-size: 4rem;
    animation: fadeInAnimation ease .9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.home {
    display: grid;
    justify-items: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body > p.info {
    width: 100%
}

.focusLetter {
    color: #fa15d8cc;
    transition: .3s;
    font-size: 64px;
    cursor: default;
    overflow: hidden;
    padding-bottom: 1px
}

.focusLetter:hover {
    color: #fa15d8cc;
    font-size: 69px
}

.links {
    transition: ease 0.5s;
    width: min-content;
    color: #ffa8fa;
    font-family: Poppins;
    font-size: 17px;
    z-index: 2;
    animation: linksOpacShitty ease 0.9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-align: center;
    width: 100%;
}

.links li:hover {
    font-size: 28px;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}