@font-face {
  font-family: Metro;
  src: url(../resources/metropolis-regular.otf);
}

@font-face {
  font-family: poppins;
  src: url(../resources/Poppins-Regular.ttf)
}

@font-face {
  font-family: segeo;
  src: url(../resources/Segoe-UI-Bold.woff)
}

@font-face {
  font-family: segeoUI;
  src: local('Segoe UI Regular'), url(../resources/Segoe-UI-Bold.woff);
}

@keyframes opacDown {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes opacUp {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes heightGrowDrop {
  0% {
    height: 19em;
  }
  100% {
    height: 32em;
  }
}

@keyframes heightShrinkDrop {
  0% {
    height: 32em;
  }
  100% {
    height: 19em;
  }
}

@keyframes pp {
  0% {
    opacity: 0%;
    height: 0%;
  }
  100% {
    opacity: 100%;
    height: 19em;
  }
}

@keyframes noppOpac {
  0% {
    height: 19em;
    opacity: 100%;
  }
  100% {
    height: 0em;
    opacity: 0%;
  }
}

.animateDrop {
  animation: heightGrowDrop ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animateDropUp {
  animation: heightShrinkDrop ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animateDropPP {
  animation: pp ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animateDropNoPP {
  animation: nopp ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#particles-js {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

html {
  scroll-behavior: smooth
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: segoe ui;
  font-size: 14px;
  color: #fff;
  background: #222;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 3px
}

p {
  width: max-content;
  height: min-content;
  margin: 0;
  font-size: 14px;
}

.spacer {
  flex: 1
}

.noOpac {
  animation: noppOpac ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.toolbar {
  height: 63px;
  display: flex;
  background-color: #3d3d3d;
  color: #fff;
  font-weight: 600;
  width: 100%;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.5s;
}

.toolbar.full {
  transform: translateY(-63px);
}

.toolbarH {
  height: 69px;
}

.toolwrap {
  height: 69px;
  display: flex;
  background-color: #3d3d3d;
  color: #fff;
  font-weight: 600;
  width: 75%;
  align-items: center
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center
}

svg.material-icons {
  height: 24px;
  width: auto
}

svg.material-icons:not(:last-child) {
  margin-right: 8px
}

.card svg.material-icons path {
  fill: #888
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
  line-height: 24px
}

.card-container .card:not(:last-child) {
  margin-right: 0
}

.card.card-small {
  height: 16px;
  width: 168px
}

.card-container .card:not(.highlight-card) {
  cursor: pointer
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, .35)
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: #696767
}

.card.highlight-card {
  background-color: #1976d2;
  color: #fff;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative
}

.card.card.highlight-card span {
  margin-left: 60px
}

a,
a:visited,
a:hover {
  color: #fff;
  text-decoration: none
}

a:hover {
  color: white;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 3px 15px rgba(0, 0, 0, .2)
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
  color: white;
}

footer a {
  display: flex;
  align-items: center
}

@media screen and (max-width:767px) {

  .card-container>*:not(.circle-link),
  .terminal {
    width: 100%
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0
  }

  .card.highlight-card span {
    margin-left: 72px
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg)
  }
}

@media screen and (max-width:575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden
  }
}

pre {
  margin: 0;
  font-size: 14px
}

span {
  display: inline-block;
  line-height: 20px
}

span.highlight {
  background: #ed67ffd8
}

span.begin {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px
}

span.end {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px
}

pre.merge-end>span:last-child {
  border-bottom-right-radius: 0
}

pre.merge-end+pre>span:last-child {
  border-top-right-radius: 0
}

pre.merge-begin>span:first-child {
  border-bottom-left-radius: 0
}

pre.merge-begin+pre>span:first-child {
  border-top-left-radius: 0
}

a.linky {
  display: grid;
  margin-top: 9px
}

ul.links {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: min-content;
  width: 5.8em;
  text-align: center;
  margin-top: 2em
}

a {
  height: min-content;
  text-decoration: none;
  color: #fff
}

a.linky:hover {
  cursor: pointer;
  color: #f971e4
}

.sm:hover {
  cursor: pointer;
  color: #f971e4
}

.hide {
  visibility: collapse;
}

.show {
  visibility: visible
}

.urlbar {
  display: flex;
  color: #fff;
  background: #3d3d3d;
  border: none;
  height: 100%;
  width: 100%;
  margin-bottom: 0
}

.urlbarI.resOp {
  display: flex;
  color: #fff;
  background: #3d3d3d;
  border: none;
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  border-bottom: 1px solid #606060;
  z-index: 4;
  font-size: 23px;
  border: none
}

.urlbarI {
  font-family: poppins, sans-serif;
  color: #fff;
  background: 0 0;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  padding: 6px 18px
}

::selection {
  background: #ed67ffd8;
  border-radius: 3px
}

.urlbarI:focus {
  outline: 1px;
}

.borderSY {
  box-shadow: 0 0 6px 1px #ed67ff !important
}

.borderSN {
  box-shadow: 0 0 6px 1px #202020
}

.searchwrap.resOp {
  display: grid;
  align-items: center;
  width: 75.4em;
  height: 5em;
  margin-bottom: 0;
  z-index: 9;
  box-shadow: 0 0 6px 1px #ed67ff !important;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 8em;
  margin-top: 1em;
  min-width: 238.609px;
  position: relative
}

.searchwrap {
  display: grid;
  align-items: center;
  width: 75.4em;
  height: 3.6em;
  margin-bottom: 0;
  z-index: 2;
  box-shadow: 0 0 6px 1px #202020;
  border-radius: 10px;
  overflow: hidden;
}

.toolbar>.searchwrap {
  width: 84%
}

.icon-tabler-search {
  height: 22px;
  width: 22px;
  stroke: #fff
}

.btnsrch {
  padding: 0;
  height: 100%;
  width: 54px;
  border: none;
  background: 0 0
}

.btnsrch.resOp {
  padding: 0;
  height: 100%;
  width: 77px;
  border: none;
  background: 0 0
}

.btnsrch:hover {
  background: #ff3beae0
}

div.results {
  background: #3d3d3d;
  display: none
}

div.results.open {
  background: #3d3d3d;
  display: grid;
  margin-bottom: -21px;
  width: 65%;
  height: 100%;
  margin-left: 0;
  box-shadow: 0 0 6px 1px #f084ff;
  border-radius: 0 0 10px 10px
}

.suggestbar {
  height: min-content;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100vw;
  z-index: 9;
  position: relative;
  justify-content: center;
  margin-top: .7em
}

.suggs {
  list-style: none;
  margin: 0;
  padding: 5px 10px;
  max-height: 16.76em;
  overflow: auto
}

.lg {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  margin-left: 16px;
  z-index: 1;
  margin-right: 6em;
  user-select: none;
}

.logo {
  transition: ease-in-out 0.2s;
}

.lg:hover .logo {
  cursor: pointer;
  margin-top: -4px;
}

.frame {
  border: none;
  outline: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: calc(100% - 63px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  user-select: none;
  transition: 0.5s;
}

.frameTH {
  height: calc(100% - 69px);
  transition: 0.5s;
}

.alertbtm {
  position: absolute;
  bottom: 1%;
  right: 0;
  background: #eb51ff;
  width: max-content;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  overflow: hidden;
  padding: 15px 19px;
}

.alertbtmb {
  background: #eee;
  height: 5px;
  width: 100%;
  /*! margin-bottom: -4px */
}

a.alertb {
  text-decoration: underline;
  color: #fff;
  background: 0 0
}

a.alertb:hover {
  text-decoration: none;
  background: 0 0;
  cursor: pointer
}

.rocket {
  width: 31px;
  height: 31px;
  fill: #fff;
  stroke-width: 0;
  float: left;
  margin-right: 10px;
}

.dialogsL {
  display: grid;
  width: min-content;
  justify-items: center;
  height: max-content;
  margin: 0;
  z-index: 1;
  overflow: hidden;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px
}

.qlbtc {
  width: 108%
}

a.qlbt {
  height: min-content;
  float: right;
  border-radius: 37px;
  background: #4a4a4a;
  z-index: 3;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
  padding: 5px 18px;
  justify-content: center;
  font-size: 13px;
  width: 79%;
}

.qlbt:hover .rocket {
  fill: #f28bff
}

div.ql.hidden {
  visibility: collapse;
  position: absolute;
}

.hiddenOpac {
  animation: opacDown ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

div.ql.open {
  background: #333;
  height: min-content;
  width: 167px;
  border-radius: 10px;
  padding: 4px 12px 16px 12px;
  display: grid;
  justify-items: center;
  z-index: 3;
  animation: opacUp ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


div.btnsql {
  display: grid;
  width: 100%;
  overflow: auto;
  height: 9.5em;
  border-radius: 2px;
  margin-left: .7em
}

.qlb {
  outline: none;
  border: none;
  background: #f760ff;
  color: #fbfbfb;
  margin-bottom: 5px;
  border-radius: 3px
}

.qlb:hover {
  cursor: pointer;
  background: #f01dfb;
  color: #fff
}

.infql {
  font-size: 18px
}

.last {
  margin-bottom: 0
}

a.linkAl {
  font-weight: bolder;
  text-decoration: underline;
  color: #e2e2e2
}

.bug {
  height: min-content;
  width: 79%;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background: #4a4a4a;
  border-radius: 25px;
  padding: 2px 18px;
  justify-content: center;
}

.bug:hover .icon {
  stroke: #f28bff;
  stroke-width: 1.5;
  fill: #f28bff
}

.bugsText {
  margin: 0 0 3px
}

.git {
  fill: #fff;
  height: 34px;
  width: 34px;
  margin-right: 6px
}

.links {
  height: min-content;
  width: 79%;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background: #4a4a4a;
  border-radius: 25px;
  padding: 4px 18px;
  justify-content: center;
}

.leftc {
  font-family: segeo;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: grid;
  min-width: 180px;
  background: #5b5b5b;
  z-index: 4;
}

.btnsc {
  width: 100%;
  display: grid;
  height: min-content;
  justify-items: center;
}

.fullscreen {
  margin-left: 6em;
}

.icon:hover {
  stroke: #ff7aeb;
}

.iconfull {
  width: 29px;
  height: 29px;
}

.gamedropic {
  stroke: #fff;
  fill: #fff;
  width: 34px;
  height: 34px;
  margin-right: 5px;
}

.gamedrop {
  height: 34px;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background: #4a4a4a;
  padding: 4px 1px 4px 9px;
  border-radius: 26px;
  justify-content: center;
  width: 79%;
  padding: 3px 18px;
}

.gamedrop:hover .gamedropic {
  stroke: #f28bff;
  fill: #f28bff
}

.navg {
  padding: 12px 0;
  background: #333;
  width: 12rem;
  justify-items: center;
  display: grid;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: min-content;
  max-height: 28em;
  z-index: 5;
  align-content: center;
  font-weight: 700;
  max-height: 189px;
  box-shadow: 0 0 6px 1px #363636;
  overflow: auto
}

div.gamedropthingy.hidden {
  visibility: collapse;
}

div.gamedropthingy.open {
  visibility: visible;
}

.mainten {
  width: 9em;
  margin: 0
}

.droppies {
  display: grid;
  float: right;
  width: 196px;
  height: min-content;
  justify-items: center;
  user-select: none;  border-radius: 10px;
  box-shadow: 0 0 3px 1px #5e5e5e;
  padding: 15px 12px;
  background: #5b5b5b;
  z-index: 1;
  position: relative;
  margin-right: 1px;
  overflow: hidden;
}

.droppiebtn {
  height: min-content;
  text-decoration: none;
  color: #fff;
  margin-right: 1.6em;
  margin-left: 8em;
  z-index: 999;
}

.droppiebtn:hover {
  cursor: pointer
  
}

.droppieic {
  width: 32px;
  height: 32px
}

.settic {
  fill: #fff;
  height: 30px;
  width: 30px;
  margin-right: 9px
}

.settT {
  margin: 0 0 3px
}

.settb {
  height: 2.4em;
  min-width: 34px;
  z-index: 1;
  display: flex;
  align-items: center;
  background: #4a4a4a;
  border-radius: 25px;
  padding: 4px 16px;
  justify-content: center;
  width: 79%;
  margin-bottom: 6px;
}

.settb:hover .settic {
  fill: #f28bff
}

.settb:hover {
  cursor: pointer;
  color: #f28bff;
  background: #363636
}

.sha {
  box-shadow: 0 0 6px 1px #363636
}

::-webkit-scrollbar {
  width: 6px;
  position: relative;
  z-index: 15;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555
}

::-webkit-scrollbar-corner {
  display: none;
}

.scroller {
  scrollbar-color: #888 transparent;
  scrollbar-width: thin;
}

.scroller:hover {
  scrollbar-color: #555 transparent;
  scrollbar-width: thin;
}

.hovfull {
  width: 100vw;
  height: 8px;
  background: red;
  z-index: 10;
  position: absolute;
  top: 0;
}

.dropbtn {
  height: min-content;
  float: right;
  border-radius: 37px;
  background: #4a4a4a;
  z-index: 3;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
  padding: 5px 18px;
  justify-content: center;
  font-size: 13px;
  width: 79%;
}

.btndrop:hover {
  cursor: pointer;
  color: #f28bff;
  background: #363636
}